{% load staticfiles %}
       <div class="bottom hidden-phone">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="container">
                        <div id="bottom">
                            <div id="footer">
                              <div id="footer-inner">
                                <div id="footer-left">
                                  <address>
                                    <span>North Central College</span>
                                    30 North Brainard Street<br>
                                    Naperville, IL 60540<br>
                                    630.637.5800
                                  </address>
                                </div>
                                <div id="footer-right">
                                  <ul id="utility">
                                    <li><a href="javascript:window.print()">Print</a></li>
                                    <li><a href="http://apply.northcentralcollege.edu.dev/graduate/page-2#">Email</a></li>
                                    <li><a class="a2a_dd" href="https://www.addtoany.com/share#url=http%3A%2F%2Fapply.northcentralcollege.edu.dev%2Fgraduate%2Fpage-2&title=North%20Central%20College&description=" aria-label="Share">Share</a>
                                    <script type="text/javascript" src="{% static 'app/scripts/graduate/page.js' %}"></script>
                                    </li>
                                  </ul>
                                <div id="footer-mission"><p>North Central College prepares students to be informed,<br>involved, principled and productive citizens and leaders over their lifetime.</p></div>
                                <div id="footer-links">
                                  <ul>
                                    <li><a href="http://northcentralcollege.edu/content/contact-us">Contact Us</a></li>
                                    <li><a href="http://northcentralcollege.edu/content/mission">Mission Statement</a></li>
                                    <li><a href="http://northcentralcollege.edu/content/copyright">Copyright</a></li>
                                    <li><a href="http://northcentralcollege.edu/content/legal-notice">Legal Notice</a></li>
                                    <li><a href="http://northcentralcollege.edu/content/privacy-policy">Privacy Policy</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

<script type="text/javascript" src="{% static 'app/scripts/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/bootstrap-popover.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/graduate/page2.js' %}"></script>    
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"2705c9c370","applicationID":"6142407","transactionName":"NgcAYRFYXEICAkEKWQ9NI1YXUF1fTAVQBVcUDhYaBEtTVRYAQQYZEQMFUE4L","queueTime":0,"applicationTime":410,"atts":"GkADF1lCT0w=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-741.min.js"}</script>

<script id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }}catch(e){}</script></body></html>