{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
 {% include 'app/header.html' %}
  <script type="text/javascript" src="{% static 'app/scripts/graduate/page2.js' %}"></script> 
  <script type="text/javascript" src="{% static 'app/scripts/graduate/jquery.formset.js' %}"></script> 
        <div class="container-fluid">
            <div class="content row-fluid">
                <div class="container">
                  <form name="applicationDefault" method="post" action="" enctype="multipart/form-data">
                      {% csrf_token %}
    <div class="application">
        <div class="row-fluid">
            <div class="mini-nav">
                    <a href="http://apply.northcentralcollege.edu.dev/" id="custom-breadcrumbs-home">Home</a> &gt; <a href="http://apply.northcentralcollege.edu.dev/admission">Admission</a> &gt;
            </div>
        </div>
       {% include 'app/page2form.html' %}
        <div id="navigation" class="row-fluid">
            <div class="span12">
                
<ul id="saves" class="clearfix">
    <span class="button-wrapper">
<input type="submit" name="page1" id="page1" value="&lt;&lt; 1" class="multi-submit">
    </span>
    <span class="button-wrapper">
<input type="submit" name="page2" id="page2" value="2" class="multi-submit current-navigation">
    </span>
    <span class="button-wrapper">
<input type="submit" name="page3" id="page3" value="Ahead to Page 3 &gt;&gt;" class="multi-submit">
<input type="submit" class="multi-submit" value="save page" id="save" name="save">
</span>
   
</ul>
            
            </div>
        </div>
    </div>
</form>
                </div>
            </div>
        </div>
 {% include 'app/footer.html' %}

</body>
</html>