{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% include 'app/header.html' %}

    <style>
            #raceul ul{
                list-style: outside none none;                
            }
            #id_race input[type^="checkbox"] {
                float: right;
                margin-left: 10px;
            }
            #id_international_phonecheck, #id_internationalcheck{
                margin-right:10px;
            }
        </style>
    <div class="container-fluid">
            <div class="content row-fluid">
                <div class="container">
                <form enctype="multipart/form-data" action="" method="post" name="applicationDefault">
                  
                    {% csrf_token %}
                    {% include 'app/page1form.html' %}
                    {% include 'app/page2form.html' %}
                    <div class="row-fluid" id="navigation">
                    <div class="span12">
                
                    <ul class="clearfix" id="saves">
                    <span class="button-wrapper">
                        <input type="submit" class="multi-submit current-navigation" value="1" id="page1" name="page1"></span><span class="button-wrapper">
                        <input type="submit" class="multi-submit" value="Ahead to Page 2 &gt;&gt;" id="page2" name="page2"></span><span class="button-wrapper">
                        <input type="submit" class="multi-submit" value="3 &gt;&gt;" id="page3" name="page3">
                        <input type="submit" class="multi-submit" value="save page" id="save" name="save">
                        <input type="submit" class="multi-submit" value="submit page" id="submit" name="submit">
                    </span>
                    </ul>          
                    </div>
                    </div>
                    </form>
            </div>                
		</div>
	 </div>
</div>

<!-- Print subform errors here -->
<div class='row-fluid'>
	<div class='container-fluid'>
		<div class='span12'>
			<div class='row-fluid'>
			    <p>This application must be electronically signed by the applicant by pressing submit below and is not valid if information is withheld or misinformation given. North Central College reserves the right to verify the information contained in this application by contacting prior educational institutions. Admission and credit earned by an invalid application will be canceled. If admitted, the applicant agrees to comply with all rules and regulations of the College. If you have changes to make before submitting your application for admission, please use the page navigation to return to previous pages.</p>
  			</div>
	    </div>
	</div>
</div>
    {% include 'app/footer.html' %}

</body>
</html>