{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

{% include 'app/header.html' %}
<script type="text/javascript" src="{% static 'app/scripts/graduate/page1.js' %}"></script>

    <div class="container-fluid">
            <div class="content row-fluid">
                <div class="container">
                  <form enctype="multipart/form-data" action="" method="post" name="applicationDefault">
                       {% csrf_token %}
    <div class="application">
        <div class="row-fluid">
            <div class="mini-nav">
                    <a id="custom-breadcrumbs-home" href="http://northcentralcollege.edu">Home</a> &gt; <a href="http://northcentralcollege.edu/admission">Admission</a> &gt;
            </div>
        </div>
        <div class="row-fluid">
            <div class="inner-node"> 
                
<div class="row-fluid">
    <div class="span7">
        <div class="row-fluid">
            <h1 class="pg2-header">GRADUATE</h1>
        </div>
    </div>
</div>
<h2>About You</h2>
<div class="row-fluid">
    <div class="span12">
        <fieldset class="acct">
            <div class="row-fluid">
                <div class="span3"><label for="email">Email Address</label></div>                
                {% render_field form.email  maxlength='50' id='email' %}
                <div class="span8"><span>
</span><br>
                    <span id="email-notice"></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row-fluid">
       
        <fieldset>
            
        <div class="span3"><label>Name</label></div>
        <div class="span2">
            <span>
            {% render_field form.first_name class+="input-medium fieldLabel" placeholder="First" maxlength="14" %}
            </span>        
        </div>
        <div class="span2">
            <span>
            {% render_field form.middle_name class+="input-small" placeholder="Middle" maxlength="14" %}
            </span>        
        </div>
        <div class="span2">
            <span>
            {% render_field form.last_name class+="input-medium" placeholder="Last" maxlength="25" %}
            </span>
        </div>
    </fieldset>
            <fieldset>
        <div class="span3"><label>Suffix</label></div>
        <div class="span4">
           
            {% for field in form.suffix %}
                <div>{{ field }}</div>
            {% endfor %}    
        
</div>
    </fieldset>
            <fieldset>
        <div class="span3 inline"><label>Preferred First Name</label></div>
        <div class="span4 inline">
            <span>
             {% render_field form.preferred_first_name maxlength="15" %}
            </span>        
        </div>
    </fieldset>
            <fieldset>
        <div class="span3 inline"><label>Birth Last Name</label></div>
        <div class="span4 inline">
            <span>
            {% render_field form.birth_last_name placeholder="If different than above" maxlength="25" %}
            </span>        
        </div>
    </fieldset>
    </div>
<div class="row-fluid">
    <div class="container-fluid">
        <div class="span7">
                        <h2>Permanent Mailing Address</h2>
                                    <div class="row-fluid">
                <fieldset>
                    <div class="span12">
                        <div class="span7 offset5">
                            
                             {% render_field form.internationalcheck %}                        
                            <label for="id_country" class="no-bold inline">Address outside of the United States?</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <fieldset>
                <div class="span5"><label>Mailing Address</label></div>
                <div class="span7">
                    <span>
                    {% render_field form.address1  maxlength="30" %}  
                    </span>                
                </div>
            </fieldset>
            <fieldset>
                <div class="span5"><label>Mailing Address 2</label></div>
                <div class="span7">
                    <span>
                    {% render_field form.address2  maxlength="30" %}
                    </span>                
                </div>
            </fieldset>
            <div id="inside_us">
                <fieldset>
                    <div class="span5"><label>City / State</label></div>
                    <div class="span7">
                        <span>
                        {% render_field form.city placeholder="City" class="input-small"  maxlength="25" %}
                        </span>                        
                         {% render_field form.state %}                  
                    </div>
                </fieldset>
                <fieldset>
                    <div class="span5"><label>Zip Code</label></div>
                    <div class="span7"><span>
                        {% render_field form.zipcode class="input-small"  maxlength="10"%}
                        </span>
                    </div>
                </fieldset>
            </div>
            <div style="display:none;" id="outside_us">      
                <div class="row-fluid">
                    <div class="span12">
                        <fieldset>
                            <div class="span5"><label for="country">Country</label></div>
                            <div class="span7">
                               {{ form.country }} 
                            </div>
                            <br>
                        </fieldset>
                    </div>
                </div>
            </div>
                                        <h2>More About You</h2>
                                        <div class="row-fluid">
                    <fieldset>
                        <div class="span12">
                            <div class="span8 offset5">                               
                                {% render_field form.international_phonecheck %}                                                             
                                <label for="international_phonecheck" class="no-bold inline">Check here if you have a non-U.S. phone number</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset>
                    <div class="span5"><label for="permanentPhone">Permanent Telephone Number</label>
                    <span class="us_number">with Area Code (###-###-####)</span>
                    <span style="display:none;" class="non_us_number">exclude: international call prefix<br>country calling code<br>leading zero</span>
                    </div>
                    <div class="span7">
                        <span>                        
                        {% render_field form.permanent_phone maxlength="12" %} 
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="span5"><label>Cell Phone Number</label>
                    <span class="us_number">with Area Code (###-###-####)</span>
                    <span style="display:none;" class="non_us_number">exclude: international call prefix<br>country calling code<br>leading zero</span>
                    </div>
                    <div class="span7">
                        <span>
                            {% render_field form.cell_phone maxlength="12" %} 
                        </span>                    
                    </div>
                </fieldset>
                <fieldset>
                    <div class="span5"><label for="gender">Gender</label></div>
                    <div class="span7">                                  
                        {% render_field form.gender class='input-small' %}          
                    </div>
                </fieldset>
                                                <fieldset>
                    <div class="span5"><label>Birth Date</label></div>
                    <div class="span7">
                        <span>
                            {% render_field form.birth_date placeholder='yyyy-mm-dd' %}
                        </span>                    
                    </div>
                </fieldset>
                                                <fieldset>
                    <div class="span5"><label>Birthplace (City/State)</label></div>
                    <div class="span7">
                        <span>
                            {% render_field form.birth_place placeholder='City, ST' maxlength='30' %}   
                        </span>                    
                    </div>
                </fieldset>
                                                <fieldset>
                    <div class="span5"><label for="ethnicity">Are you Hispanic or Latino?</label></div>
                    <div class="span1">                        
                        {% render_field form.ethnicity %}                      
                    </div>
                </fieldset>
                <br><br>
                                                <fieldset>
                    <div class="span4"><label>What is your race?<br><span class="subtext">Choose one or more</span></label></div>
                </fieldset>
                <br>
   

   

        <fieldset class="right-justified">
            <div class="span8 offset2 half">
                {{ form.race }}

            </div>
        </fieldset>              

                                                <fieldset>
                    <p>
                        </p><div class="span4">
                            <label>Religious Affiliation<br><span class="subtext">(Optional)</span></label>
                        </div>
                        <div class="span3">
                            {% render_field form.denomination %}
                        </div>
                    <p></p>
                </fieldset>
                            </div> <!-- end container span7 -->
                    <div class="span5 visible-desktop">
            <div class="row">
                <img alt="Undergrad Page 1" src="{% static 'app/images/admission_ug_page1.jpg' %}" class="admission_ug_page1">
            </div>
        </div>
                </div>
    <div class="row-fluid">
        <div class="container-fluid" id="citizen-contain">
             
            <h2>Citizenship</h2>
                                    <fieldset>
                <div class="span3"><label>Are you a United States citizen?</label></div>
                <div class="span4">
                                        
             
                {% render_field form.is_citizen %}
                </div>
            </fieldset>
            <div style="display:none;" id="citizen_yes">
            <fieldset>
             
                <div class="span3"><label for="socialSecurityNumber">Social Security Number</label><br><span class="ssn_number">(###-##-####)</span></div>
                <div class="span4">
                    <span>
                       {% render_field form.social_security maxlength='11' %}
                    </span>                
                </div>
            </fieldset>
            </div>
            <div style="display:none;" id="citizen_legal_resident">
            <fieldset>
                <div class="span3"><label for="citizenship_country">What is your country of citizenship?</label></div>
                <div class="span4">
                 {{ form.citizenship_country }} 
                </div>
            </fieldset>
            <fieldset>
                <div class="span3"><label for="residence_country">What is your country of current residence?</label></div>
                <div class="span4">
                   {{ form.residence_country }} 
                </div>
            </fieldset>
            </div>
             <div style="display:none;" id="citizen_alien">
            <fieldset>
                <div class="span3"><label for="alien_reg_no">Alien Registration Number</label><span class="ssn_number">Include the leading letter A</span></div>
                <div class="span4">
                    <span>
<input type="text" value="" id="alien_reg_no" "></span>                </div>
            </fieldset>
            </div>
            <div style="display:none;" id="citizen_no">
            <fieldset>
                <div class="span3"><label for="is_international_student">Are you or will you be an international student?</label></div>
                <div class="span4">
                    
<select id="is_international_student" >
    <option label="Yes" value="1">Yes</option>
    <option label="No" value="0">No</option>
    <option selected="selected" label="" value=""></option>
</select>                </div>
            </fieldset>
            <br>
            <fieldset>
                <div class="span3"><label for="alien_status">What is your visa status?</label></div>
                <div class="span4">
                    
<select id="alien_status">
    <option selected="selected" label="" value=""></option>
    <option label="F1 Student" value="F1 Student">F1 Student</option>
    <option label="F2" value="F2">F2</option>
    <option label="H1" value="H1">H1</option>
    <option label="H4" value="H4">H4</option>
    <option label="J1 Exchange Visitor" value="J1 Exchange Visitor">J1 Exchange Visitor</option>
    <option label="J2" value="J2">J2</option>
    <option label="K1" value="K1">K1</option>
    <option label="PR Permanent Resident US" value="PR Permanent Resident US">PR Permanent Resident US</option>
    <option label="TD" value="TD">TD</option>
    <option label="Unknown" value="Unknown">Unknown</option>
</select>                </div>
            </fieldset>
            </div>
                    </div>
    </div>
</div>            </div>
        </div>
        <div class="row-fluid" id="navigation">
            <div class="span12">
                
<ul class="clearfix" id="saves">
    <span class="button-wrapper">
<input type="submit" class="multi-submit current-navigation" value="1" id="page1" name="page1"></span><span class="button-wrapper">
<input type="submit" class="multi-submit" value="Ahead to Page 2 &gt;&gt;" id="page2" name="page2"></span><span class="button-wrapper">
<input type="submit" class="multi-submit" value="3 &gt;&gt;" id="page3" name="page3">
<input type="submit" class="multi-submit" value="save page" id="save" name="save">
    </span>
    <span>
<input type="hidden" id="page" value="Page1" name="page">
    </span>
</ul>          
            </div>
        </div>
    </div>
<input type="hidden" value="" id="baseUrl" name="baseUrl">
</form>
                </div>
            </div>
        </div>

 {% include 'app/footer.html' %}



</body>
</html>