{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html><html>
   {% include 'app/header.html' %}
        <div class='container-fluid'>
            <div class='content row-fluid'>
                <div class='container'>
                  <div class='application'>
                      {% if allowed %}
	<div class='inner-node'>
			<div class='print-page printableArea pageBreak'>                
	<div class='print-page printableArea pageBreak'>
		<div class='row'>
			<div class='offset1 span2'>
				Email Address
			</div>
			<div class='span9'>
				{{ page1_db_data.email }}
			</div>
		</div>

		<div class='row'>
			<div class='offset1 span2'>
				Name
			</div>
			<div class='span9'>				
				    {{ page1_db_data.last_name }} , {{ page1_db_data.first_name }}
				    {{ page1_db_data.middle_name }}				
			</div>
		</div>
        {% if page1_db_data.preferred_first_name %} 
        <div class='row'>
			<div class='offset1 span2'>
				preferred_first_name
			</div>
			<div class='span9'>
					{{ page1_db_data.preferred_first_name }} 						
								
			</div>
		</div>
        {% endif %}
        {% if page1_db_data.birth_last_name %} 
        <div class='row'>
			<div class='offset1 span2'>
				Birth Last Name
			</div>
			<div class='span9'>
					{{ page1_db_data.birth_last_name }} 														
			</div>
		</div>
        {% endif %}
        
		<div class='row'>
			<div class='offset1 span2'>
				Permanent Mailing Address
			</div>
			<div class='span8'>
				{{ page1_db_data.address1 }} <br />
                {{ page1_db_data.address2 }} <br />
                {{ page1_db_data.city }},  {{ page1_db_data.state }} 
                {{ page1_db_data.zipcode }} 
                		
			</div>
		</div>
	<br>
		<div class='row'>
			<div class='offset1 span2'>
				More About You
			</div>
			<div class='span9'>
				<div>
					Home Telephone Number:
					{{ page1_db_data.permanent_phone }}
				</div>
				<div>
					Cell/Mobile Phone Number:
					{{ page1_db_data.cell_phone }}
				</div>
				<div>
					Gender:
					{{ page1_db_data.gender }}
				</div>
				<div>
					Birth Date:
					{{ page1_db_data.birth_date }}
				</div>
				<div>
					Birth Place (City/State):
					{{ page1_db_data.birth_place }}
				</div>
				<div>
					Are you Hispanic or Latino?:
					{{ page1_db_data.ethnicity }}
				</div>
				<div>
					{% for race in race_data%}
                        {{ race }} {% if race|length > 1 %},&nbsp;{% endif %} 
                    {% endfor %}
				</div>
				<div>
					Religious Affiliation:
					{{ page1_db_data.denomination }}
				</div>
			</div>
		</div>
	<br>
		<div class='row'>
			<div class='offset1 span2'>
				Citizenship
			</div>
			<div class='span9'>
				<div>
					Are you a United States Citizen?:
					{% if page1_db_data.is_citizen %} Yes {% else %} No {% endif %} 
				</div>
				{% if not page1_db_data.is_citizen %}
				<div>
					What is your country of citizenship?
					{{ page1_db_data.citizenship_country }}
				</div>
				{% endif %} 
				<div>
					Social Security Number:
					{{ page1_db_data.social_security }}
				</div>
			</div>
		</div>
	<br>
		<div class='row'>
			<div class='offset1 span2'>
				About Your Academic Plans
			</div>
			<div class='span9'>
				<div>
					When do you plan to start your courses at North Central College?
				
                    {{ page2_db_data.start_term }}
				</div>
				<div>
					What is your intended course load?
					
                    {{ page2_db_data.student_load_intent }}
				</div>
				<div>
					What is your housing preference?
					
                    {{ page2_db_data.residency_status }}
				</div>
				<div>
					What is your planned major?
					
                    {{ page2_db_data.planned_major }}
				</div>

			</div>
		</div>
	<br>
	
		<div class='row'>
			<div class='offset1 span2'>
				About Your Family or Personal Contacts
			</div>
		
		</div>
	<br>
		
		
        
			<div class='row'>
				<div class='offset1 span2'>
					About Your Educational Background
				</div>
				<div class='span9'>
			
					<div>
						Have you attended college or universities:
						
                            {% if undergrad|length > 0 %} Yes {% else %} No {% endif %}
						
					</div>
					{% for institution in undergrad %}
					<div>
						Name:
						{{institution.name}}
						CEEB Code:
						{{institution.ceeb}}
					</div>
					{% endfor %}
				</div>
			</div>
	
	<br>
		
		<div class='row'>
			<div class='offset1 span2'>
				About Your Activities
			</div>
			<div class='span9'>
				<div>
					{{ page2_db_data.interests }}
				</div>
			</div>
		</div>
	<br>
		
		<div class='row'>
			<div class='offset1 span2'>
				More About You
			</div>
			<div class='span9'>
				<div>
					Parents, siblings, other relatives, or friends who have attended North Central College:
				</div>
				
               {% if page2_db_data.refered_by_name %}
				<div>
					{{ page2_db_data.refered_by_name }} , {{ page2_db_data.refered_by_relationship }}
				</div>
				{% endif %}
				
				{% if page2_db_data.refered_by_name2 %}
				<div>
					{{ page2_db_data.refered_by_name2 }} , {{ page2_db_data.refered_by_relationship2 }}
				</div>
				{% endif %}
				<div>
					Who or what helped influence your decision to apply to North Central College?
				
                    {{ page2_db_data.influence }}
				</div>
          
	<br>
				<div>
					Have you ever been accused or charged with violating a code of student conduct or institutional policy, or been suspended, placed on probation, dismissed, or expelled from any high school or college?
					{% if page2_db_data.policy %} Yes {% else %} No {% endif %}
				</div>
				{% if page2_db_data.policy %}
				<div>
					If yes, please explain the incident in 140 characters or less.:
					{{ page2_db_data.policy_reason }}
				</div>
				{% endif %}
	<br>
				<div>
					Have you ever been arrested, indicted, or convicted of anything other than a minor traffic violation?
				{% if page2_db_data.legal %} Yes {% else %} No {% endif %}
				</div>
				{% if page2_db_data.legal %}
				<div>
					If yes, please explain the incident in 140 characters or less.:
					{{ page2_db_data.legal_reason }}
				</div>
				{% endif %}
	<br>
                
                
                
                
                
                {% if page2_db_data.employer %}
				<div>
					Employer Name:
					{{ page2_db_data.employer }}
				</div>
                {% endif %}
                {% if page2_db_data.employment_address %}
				<div>
					Employer Address:
					{{ page2_db_data.employment_address }}
				</div>
                {% endif %}
                {% if page2_db_data.employment_city %}
				<div>
					Employer City:
					{{ page2_db_data.employment_city }}
				</div>
                 {% endif %}
                 {% if page2_db_data.employment_state %}
				<div>
					Employer State:
					{{ page2_db_data.employment_state }}
				</div>
				{% endif %}
	<br>
			</div>
		</div>
	<br>
		<div class='submit row offset9'>
			Submitted<br>
			{{ date }}
		</div>
	</div>
<?php endforeach; ?>

		</div>
	</div>
                      {% else %}
                      <h2>You do not have an application summary to be view. <a href="/login/" >Please login</a></h2>
                      {% endif %}
{% include 'app/footer.html' %}
</body>
</html>
