<!DOCTYPE html><html>
   {% include 'app/header.html' %}
        <div class='container-fluid'>
            <div class='content row-fluid'>
                <div class='container'>
                  <div class='application'>
	<div class='inner-node'>
			<div class='print-page printableArea pageBreak'>                
	<div class='print-page printableArea pageBreak'>
		<div class='row'>
			<div class='offset1 span2'>
				Email Address
			</div>
			<div class='span9'>
				{{ page1_db_data.email }}
			</div>
		</div>

		<div class='row'>
			<div class='offset1 span2'>
				Name
			</div>
			<div class='span9'>				
				    {{ page1_db_data.last_name }} , {{ page1_db_data.first_name }}
				    {{ page1_db_data.middle_name }}				
			</div>
		</div>
        {% if page1_db_data.preferred_first_name %} 
        <div class='row'>
			<div class='offset1 span2'>
				preferred_first_name
			</div>
			<div class='span9'>
					{{ page1_db_data.preferred_first_name }} 						
								
			</div>
		</div>
        {% endif %}
        {% if page1_db_data.birth_last_name %} 
        <div class='row'>
			<div class='offset1 span2'>
				Birth Last Name
			</div>
			<div class='span9'>
					{{ page1_db_data.birth_last_name }} 														
			</div>
		</div>
        {% endif %}
        
		<div class='row'>
			<div class='offset1 span2'>
				Permanent Mailing Address
			</div>
			<div class='span8'>
				{{ page1_db_data.address1 }} <br />
                {{ page1_db_data.address2 }} <br />
                {{ page1_db_data.city }},  {{ page1_db_data.state }} 
                {{ page1_db_data.zipcode }} 
                		
			</div>
		</div>
	<br>
		<div class='row'>
			<div class='offset1 span2'>
				More About You
			</div>
			<div class='span9'>
				<div>
					Home Telephone Number:
					<?php echo $summary->get('phone1'); ?>
				</div>
				<div>
					Cell/Mobile Phone Number:
					<?php echo $summary->get('phone2'); ?>
				</div>
				<div>
					Gender:
					<?php echo $summary->get('gender'); ?>
				</div>
				<div>
					Birth Date:
					<?php echo date('n/j/Y', strtotime($summary->get('birth_date'))); ?>
				</div>
				<div>
					Birth Place (City/State):
					<?php echo $summary->get('birth_place'); ?>
				</div>
				<div>
					Are you Hispanic or Latino?:
					<?php echo $summary->get('ethnicity'); ?>
				</div>
				<div>
					Race(s): <?php echo implode(
					    ', ',
					    array_filter(array(
					        $summary->get('race1'),
					        $summary->get('race2'),
					        $summary->get('race3'),
					        $summary->get('race4'),
					        $summary->get('race5')
					    ))
					); ?>
				</div>
				<div>
					Religious Affiliation:
					<?php echo $summary->get('denomination'); ?>
				</div>
			</div>
		</div>
	<br>
		<div class='row'>
			<div class='offset1 span2'>
				Citizenship
			</div>
			<div class='span9'>
				<div>
					Are you a United States Citizen?:
					<?php
						echo ($summary->get('is_citzen')) ? 'Yes' : 'No';
					?>
				</div>
				<?php if (!$summary->get('is_citzen')): ?>
				<div>
					What is your country of citizenship?
					<?php echo $summary->get('citizenship_country'); ?>
				</div>
				<?php endif; ?>
				<div>
					Social Security Number:
					<?php echo $summary->get('ssn'); ?>
				</div>
			</div>
		</div>
	<br>
		<div class='row'>
			<div class='offset1 span2'>
				About Your Academic Plans
			</div>
			<div class='span9'>
				<div>
					When do you plan to start your courses at North Central College?
					<?php echo $summary->get('start_term'); ?>
				</div>
				<div>
					What is your intended course load?
					<?php echo $summary->get('student_load_intent'); ?>
				</div>
				<div>
					What is your housing preference?
					<?php echo $summary->get('residency_status'); ?>
				</div>
				<div>
					What is your planned major?
					<?php echo $summary->get('planned_major'); ?>
				</div>
				<div>
					Application Type:
					<?php echo $summary->get('admit_status'); ?>
				</div>
			</div>
		</div>
	<br>
		<?php if($summary->get('level') != 'GR') : ?>
		<div class='row'>
			<div class='offset1 span2'>
				About Your Family or Personal Contacts
			</div>
			<div class='span9'>
				<div>
					<?php echo $summary->get('guardian1_relationship'); ?>
				</div>
				<div>
					<?php if($summary->get('guardian1_last_name') != NULL) {
					 		echo $summary->get('guardian1_last_name') . ', ' . $summary->get('guardian1_first_name');
					 	}
					?>
				</div>
				<div>
					<?php
						echo $summary->get('guardian1_address1') . '<br />';
						if ($summary->get('guardian1_address2') != NULL) {
							echo $summary->get('guardian1_address2') . '<br />';
							
							
							
							if ($summary->get('guardian1_city') != NULL) {
								echo $summary->get('guardian1_city');
							}
							if ($summary->get('guardian1_state') != NULL) {
								if ($summary->get('guardian1_city') != NULL) {
									echo ', ';
								}
								echo $summary->get('guardian1_state');
							}
							if ($summary->get('guardian1_zip') != NULL) {
								echo '  ' . $summary->get('guardian1_zip');
							}
							//echo $summary->get('guardian1_city') . ', ' .
							//	$summary->get('guardian1_state') . '  ' . $summary->get('guardian1_zip');
						}
					?>
				</div>
				<div>
					<?php if($summary->get('guardian1_email') != NULL)
								echo 'Email Address: ' . $summary->get('guardian1_email');
					?>
				</div>
				<div>
					<?php if($summary->get('guardian1_relationship') != NULL)
							 echo 'Educational Attainment of ' . $summary->get('guardian1_relationship')
							 . '/Guardian: ' . $summary->get('guardian1_education');
					?>
				</div>
	<br>
				<div>
					<?php echo $summary->get('guardian2_relationship'); ?>
				</div>
				<div>
					<?php if($summary->get('guardian2_last_name') != NULL) {
					 		echo $summary->get('guardian2_last_name') . ', ' . $summary->get('guardian2_first_name');
					 	}
					?>
				</div>
				<div>
					<?php
						echo $summary->get('guardian2_address1') . '<br />';
						if ($summary->get('guardian2_address2') != NULL) {
							echo $summary->get('guardian2_address2') . '<br />';
							
							if ($summary->get('guardian2_city') != NULL) {
								echo $summary->get('guardian2_city');
							}
							if ($summary->get('guardian2_state') != NULL) {
								if ($summary->get('guardian2_city') != NULL) {
									echo ', ';
								}
								echo $summary->get('guardian2_state');
							}
							if ($summary->get('guardian2_zip') != NULL) {
								echo '  ' . $summary->get('guardian2_zip');
							}
							
							//echo $summary->get('guardian2_city') . ', ' .
							//	$summary->get('guardian2_state') . '  ' . $summary->get('guardian2_zip');
						}
					?>
				</div>
				<div>
					<?php if($summary->get('guardian2_email') != NULL)
								echo 'Email Address: ' . $summary->get('guardian2_email');
					?>
				</div>
				<div>
					<?php if($summary->get('guardian2_relationship') != NULL)
							 echo 'Educational Attainment of ' . $summary->get('guardian2_relationship')
							 . '/Guardian: ' . $summary->get('guardian2_education');
					?>
				</div>
			</div>
		</div>
	<br>
		<?php endif; ?>
		<?php if($summary->get('level') != 'GR') : ?>
			<div class='row'>
				<div class='offset1 span2'>
					About Your Educational Background
				</div>
				<div class='span9'>
					<div>
						Name of high school from which you will or have graduated (or indicate GED):
						<?php echo $summary->get('high_school_name'); ?>
					</div>
					<div>
						Code of high school:
						<?php echo $summary->get('high_school_ceeb_id'); ?>
					</div>
					<div>
						Date of Graduation:
						<?php echo date('n/j/Y' , strtotime($summary->get('high_school_grad_date'))); ?>
					</div>
					<div>
						Guidance Counselor:
						<?php echo $summary->get('high_school_guidance_counselor'); ?>
					</div>
					<div>
						Cumulative high school GPA:
						<?php echo $summary->get('high_school_gpa'); ?>
					</div>
					<div>
						ACT Composite Score:
						<?php echo $summary->get('act_score'); ?>
					</div>
					<div>
						SAT Composite Score:
						<?php echo $summary->get('sat_score'); ?>
					</div>
					<div>
						Have you attended college or universities:
						<?php
							echo ($summary->get('has_attended_college')) ? 'Yes' : 'No';
						?>
					</div>
					<?php foreach ($summary->getInstitutions() as $institution): ?>
					<div>
						Name:
						<?php echo $institution->get('name'); ?>,
						CEEB Code:
						<?php echo $institution->get('ceeb_id'); ?>
					</div>
					<?php endforeach; ?>
				</div>
			</div>
		<?php endif ?>
	<br>
		<?php if($summary->get('level') != 'GR') : ?>
		<div class='row'>
			<div class='offset1 span2'>
				About Your Activities
			</div>
			<div class='span9'>
				<div>
					<?php foreach ($summary->getInterests() as $interest): ?>
						<?php echo $interest->get('interest'); ?><br/>
					<?php endforeach; ?>
				</div>
			</div>
		</div>
	<br>
		<?php endif; ?>
		<div class='row'>
			<div class='offset1 span2'>
				More About You
			</div>
			<div class='span9'>
				<div>
					Parents, siblings, other relatives, or friends who have attended North Central College:
				</div>
				<?php if ($summary->get('reference1_name')): ?>
				<div>
					<?php echo $summary->get('reference1_name') . ', ' . $summary->get('reference1_relationship'); ?>
				</div>
				<?php endif; ?>
				<?php if ($summary->get('reference2_name')): ?>
				<div>
					<?php echo $summary->get('reference2_name') . ', ' . $summary->get('reference2_relationship'); ?>
				</div>
				<?php endif; ?>
				<div>
					Who or what helped influence your decision to apply to North Central College?
					<?php echo $summary->get('influenced_to_apply'); ?>
				</div>
                <?php if($summary->get('level') == 'GR') : ?>
					<?php foreach ($summary->getInstitutions() as $institution): ?>
					<div>
						Name:
						<?php echo $institution->get('name'); ?>,
						CEEB Code:
						<?php echo $institution->get('ceeb_id'); ?>
					</div>
					<?php endforeach; ?>
                <?php endif; ?>
				<div>
					<?php if($summary->get('other_institution1') != NULL) {
							echo 'Institution: ' . $summary->get('other_institution1');
						}
					?>
				</div>
				<div>
					<?php if($summary->get('other_institution2') != NULL) {
							echo 'Institution: ' . $summary->get('other_institution2');
						}
					?>
				</div>
				<div>
					<?php if($summary->get('other_institution3') != NULL) {
							echo 'Institution: ' . $summary->get('other_institution3');
						}
					?>
				</div>
				<div>
					<?php if($summary->get('other_institution4') != NULL) {
							echo 'Institution: ' . $summary->get('other_institution4');
						}
					?>
				</div>
	<br>
				<div>
					Have you ever been accused or charged with violating a code of student conduct or institutional policy, or been suspended, placed on probation, dismissed, or expelled from any high school or college?
					<?php
						echo ($summary->get('has_policy_issue')) ? 'Yes' : 'No';
					?>
				</div>
				<?php if ($summary->get('policy_reason')): ?>
				<div>
					If yes, please explain the incident in 140 characters or less.:
					<?php echo $summary->get('policy_reason'); ?>
				</div>
				<?php endif; ?>
	<br>
				<div>
					Have you ever been arrested, indicted, or convicted of anything other than a minor traffic violation?
					<?php
						echo ($summary->get('has_legal_issue')) ? 'Yes' : 'No';
					?>
				</div>
				<?php if ($summary->get('legal_reason')): ?>
				<div>
					If yes, please explain your conviction in 140 characters or less.:
					<?php echo $summary->get('legal_reason'); ?>
				</div>
                <?php endif; ?>
                
                
                
                
                
                <?php if ($summary->get('employer_name')): ?>
				<div>
					Employer Name:
					<?php echo $summary->get('employer_name'); ?>
				</div>
                <?php endif; ?>
                <?php if ($summary->get('employer_address')): ?>
				<div>
					Employer Address:
					<?php echo $summary->get('employer_address'); ?>
				</div>
                <?php endif; ?>
                <?php if ($summary->get('employer_city')): ?>
				<div>
					Employer City:
					<?php echo $summary->get('employer_city'); ?>
				</div>
                <?php endif; ?>
                <?php if ($summary->get('employer_state')): ?>
				<div>
					Employer State:
					<?php echo $summary->get('employer_state'); ?>
				</div>
				<?php endif; ?>
	<br>
			</div>
		</div>
	<br>
		<div class='submit row offset9'>
			Submitted<br>
			<?php echo date('n/j/Y h:i:s A', strtotime($summary->get('submitted_date'))); ?>
		</div>
	</div>
<?php endforeach; ?>

		</div>
	</div>
{% include 'app/footer.html' %}
</body>
</html>
